[Unit]
After=network.target postgresql.service

[Service]
User=www-data
ExecStart=/opt/tt-rss/update_daemon2.php

[Install]
WantedBy=multi-user.target
